@model LoginUser
<div class="card-header h2">Login</div>
<div class="crad-body">
    <form asp-action="Login" asp-controller="Home" method="post">
        <div class="form-group mb-3">
            <label asp-for="LoginEmail" class="form-label"></label>
            <input asp-for="LoginEmail" class="form-control">
            <span class="text-danger" asp-validation-for="LoginEmail"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="LoginPassword" class="form-label"></label>
            <input asp-for="LoginPassword" class="form-control">
            <span class="text-danger" asp-validation-for="LoginPassword"></span>
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-info w-100" value="Login">
        </div>
    </form>
</div>