@{
    ViewData["Title"] = "Login";
}
<h1>Login</h1>

<div class="container">
    @await Html.PartialAsync("_LoginPart")
    <a class="nav-link text-dark" asp-area="" asp-controller="Companies" asp-action="Create">Register</a>
</div>
